

<%# <div class="container">
<%# <h1>All Categories</h1> %>
  <%# <div class="flex">
    <div class="co-12 colsm-6 col-md-4">
      <div class="card-category" data-aos="zoom-in">
        <h2><%= link_to 'City', bikes_path(category: 'City', bike: { address: @address }) %></h2>
      <%# </div>
    </div> %>

    <%# <div class="co-12 colsm-6 col-md-4">
      <div class="card-category" data-aos="zoom-in">
        <h2><%= link_to 'MTB', bikes_path(category: 'MTB', bike: { address: @address }) %></h2>
      <%# </div>
    </div> %>

    <%# <div class="co-12 colsm-6 col-md-4">
      <div class="card-category" data-aos="zoom-in">
      <h2><%= link_to 'Race', bikes_path(category: 'Race', bike: { address: @address })%></h2>
      <%# </div> %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>

<%#
# action -> ???
# method -> GET
 %>

<%# <section class="text-gray-400 bg-gray-900 body-font"> %>
<%# container %>
<p class="p-4" id="notice"><%= notice %></p>
<div class="container d-flex mx-4 pl-4">
  <div class="container-text mr-4 pl-4 border-2 d-flex flex-column position-relative justify-content-center">
    <div class="bg-white p-4 rounded shadow position-absolute width">
      <h1 class=“”>Find a bike you want to ride</h1>
        <p class=“”>Discover the perfect bike for your next trip.</p>
          <div class="container d-flex flex-column rounded z-20">
            <label for=“” class=“”>Location</label>
            <input type=“text” id=“hero-field” name=“hero-field” class=“”>

            <div class="card-category" data-aos="zoom-in">
              <p></p>
            <%# <h2><%= link_to 'Race', bikes_path(category: 'Race', bike: { address: @address })%>
            <%# </h2> %>

          </div>
          <button class="btn btn-info shadow rounded">Button</button>
          </div>
        <p class=“mt-4”>Neutra shabby chic ramps, viral fixie.</p>
    </div>
  </div>


  <div class="container-img rounded pl-16">

      <img class="object-cover object-center ml-8 img-fluid" alt="hero" src="https://images.unsplash.com/photo-1534787238916-9ba6764efd4f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80">
  </div>
</div>
<%# </section> %>
