<div class="search sticky-top">
  <div class="d-flex py-2 justify-self-center">
    <p id="notice"><%= notice %></p>
    <form class="rounded" action="<%= bikes_path %>">
      <label for="query"></label>
      <input type="text" id="query" name="query" placeholder="Search Category">
      <input class="rounded-xl" type="submit" value="Submit">
  </div>
</div>

  <div class="position-relative bg-gray-200">
    <div class="card pt-4">
      <%# <h1>Bikes</h1> %>

      <div class="container-fluid">
        <div class="row">
          <div class="sticky col-lg-5 col-md-offset-3">
            <div class="container-card sticky top-0">
              <% @bikes.each do |bike| %>
                <div class="mb-1" data-aos="zoom-in">
                  <div class="bg-white rounded border-gray-300 thumb-image">
                    <div # class="p-3 d-flex flex-column">
                      <strong><%= bike.name %> <span class="text-muted font-weight-normal"></span></strong>
                      <strong><p>$<%= bike.price %> <span class="text-muted font-weight-normal"></span></p></strong>
                      <p>Category:<%= bike.category %> <span class="text-muted font-weight-normal"></span></p>
                      <small class="text-muted"><%= bike.description %></small>
                      <p><%= link_to 'Show', bike %></p>
                    </div>
                  </div>
                  <hr>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="container-map">
              <div class="rounded" id="map"
                style="height: 100vh; position: sticky; top: 0;"
                data-markers="<%= @markers.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
