<% if false %>
  <h1>All Categories</h1>
  <div class="container">
    <div class="row">
      <div class="co-12 colsm-6 col-md-4">
          <div class="card-category" data-aos="zoom-in">
            <h2><%= link_to 'City', bikes_path(category: 'City', bike: { address: @address }) %></h2>
          </div>
      </div>

      <div class="co-12 colsm-6 col-md-4">
          <div class="card-category" data-aos="zoom-in">
            <h2><%= link_to 'MTB', bikes_path(category: 'MTB', bike: { address: @address }) %></h2>
          </div>
      </div>

      <div class="co-12 colsm-6 col-md-4">
          <div class="card-category" data-aos="zoom-in">
        <h2><%= link_to 'Race', bikes_path(category: 'Race', bike: { address: @address })%></h2>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div id="map"
            style="width: 100%; height: 300px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

  <p id="notice"><%= notice %></p>

  <form action="<%= bikes_path %>">
    <label for="query">Search:</label>
    <input type="text" id="query" name="query" placeholder="Search category">
    <input type="submit" value="Submit">
  <div class="position-relative">
    <div class="card p-3 m-3 shadow br-3">
      <h1>Bikes</h1>
  <div class="container mb-5">
    <div class="d-flex justify-content-between my-4">
    </div>
    <div class="row my-2">

    </div>
  </div>
<% end %>


<div class="flex bg-gray-400 w-screen h-screen">

    <div class="w-2/3 bg-500">

          <% @bikes.each do |bike| %>

          <div class="" data-aos="zoom-in">
            <div class="container d-flex bg-white rounded shadow h-100 thumb-image">
              <div class="p-2 rounded-bottom d-flex border">

                <%# <div class="container"> %>
                  <div class="container">
                    <strong><%= bike.name %> <span class="text-muted font-weight-normal"></span></strong>
                    <strong><p>$<%= bike.price %> <span class="text-muted font-weight-normal"></span></p></strong>
                    <p>Category:<%= bike.category %> <span class="text-muted font-weight-normal"></span></p>
                    <small class="text-muted"><%= bike.description %></small>
                    <p><%= link_to 'Show', bike %></p>
                    <div class="d-flex align-items-end justify-content-between pt-4"></div>
                  </div>

                  <div class="container"> <%= cl_image_tag(bike.photo.key,
                    width: 400, height: 300, crop: :fill) %>
                  </div>
                <%# </div> %>

              </div>
            </div>
          </div>

        <% end %>

    </div>

      <div class="w-1/3 bg-yellow-500 h-screen"
        id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

</div>
