<h1>Bikes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @bike.name %></td>
        <td><%= @bike.description %></td>
        
        <td><%= link_to 'Book the bike', @bike %></td>
        <% if policy(@bike).edit? %>
          <td><%= link_to 'Edit', edit_bike_path(@bike) %></td>
        <% end %>
        <% if policy(@bike).destroy? %>
          <td><%= link_to 'Destroy', @bike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  </tbody>
</table>
